body {
    /* Yazı tipi ailesi */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* etiketindeki ana yazının boyutu */
    font-size: 20px;
    /* Web sayfasının arka plan rengi */
    background-color: #0059ffa7;
    /* Metin rengi */
    color: #ffffff;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(43, 160, 78);
    color: rgb(255, 60, 60);
}

ol {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: bisque;
    color: black;
}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: chocolate;
    color: gray;
    font-size: 54px; /* veya başka bir boyut belirleyebilirsiniz */

}

li span {
    font-size: 54px; /* veya başka bir boyut belirleyebilirsiniz */
}
